.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* .navbar__ul {
  display: flex;
  align-items: center;
  gap: 2rem;
} */

.header__icon {
  width: 2rem;
}

/* Mobile */
@media (min-width: 320px) {
  .header__title {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .header__close {
    display: block;
    align-self: self-end;
    margin: 1rem 2rem 0 0;
  }

  .navbar__ul {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background: var(--white);

    right: 0;
    height: 100vh;
    top: 0vh;
    width: 250px;
    /* width: 50%; */

    transform: translateX(100%);
    transition: transform 200ms ease-in-out;

    overflow-x: hidden;
  }

  .navbar__ul--active {
    transform: translateX(0%);
  }
}

@media (min-width: 768px) {
  .header__open {
    display: none;
  }

  .header__close {
    display: none;
  }

  .navbar__ul {
    position: static;

    flex-direction: row;

    background: none;

    top: 0;
    right: 0;
    height: auto;
    width: auto;

    transform: none;
    transition: none;

    overflow-x: unset;
  }

  .navbar__ul--active {
    transform: none;
  }
}
