main {
  background: unset;
}

.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 0;
}

.about__info {
  margin-top: 2rem;
}

.about__info > * {
  margin-bottom: 0.5rem;
}
